.btn-correo{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-variant:all-small-caps;
}

.btn-correo:hover{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-variant:all-small-caps;
}

.btn-primary{
    background-color: red;
    border-radius: 0px;
    border-color: red;

}
.btn-primary:hover{
    background-color: gray;
    border-color: red;
}