.col
{
    .iconosc{
        text-decoration: none;
        text-emphasis: none;
        color: aliceblue;
        font-family: "Anton";
        font-variant-caps:all-small-caps;
        font-size: 35px;
        margin-left: 5px;
    }
   
}